body{
	background-color: dimgray;
}
form{
	align-self: center;
	background-color: black;
	color: white;
	border-style: dashed;
	border-color: rebeccapurple;
	border-width: 2px;
	width: 500px;
	margin: 0px auto;
	text-align: center;
	box-shadow: 10px 10px 8px #888888;
}
h1{
	color: darkgray;
	text-align: center;
	text-shadow: 10px 10px 8px #888888;
}
h2{
	font-size: 6;
	text-align: left;
	color: darkgray;
	text-decoration: underline;
}
small{
	color: darkgray;
}

