
body{
	background-color: darkslateblue;
}

h1 {
	color: darkslateblue;
	text-align: center;
}

form{
	align-self: center;
	text-align: center;
	background-color: darkseagreen;
	border: 5px;
	width: 500px;
	margin: 0px auto;
}
a{
	color: black;
}


